body {
  background-color: rgb(241, 241, 241);
  margin: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.spread-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding-10px {
  padding: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.icon-image {
  width: 32px;
  height: 32px;
}
