.container {
  height: 100%;
}

.login-container {
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}

.logo-wrapper {
  padding: 20px;
}

.logo-text {
  font-family: "Lobster", cursive;
  font-size: 48px;
}

.form-wrapper {
}

.login-wrapper {
  border: 1px solid lightgray;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login-input {
  border: none;
  width: 100%;
  margin: 10px;
  font-size: 16px;
}

.login-input:focus {
  outline: none;
}

.button-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  color: white;
  background-color: rgb(133, 182, 231);
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.extra-wrapper {
  padding-top: 70px;
  padding-bottom: 10px;
}

.find-password {
  color: rgb(68, 138, 243);
}
